<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js 라이브러리 -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="{% static 'dashboard/js/script.js' %}"></script>
</head>
<body>
    <!-- Navbar 포함 -->
    {% include 'navbar.html' %}
    
    <header>
        <h1>Dashboard</h1>
    </header>

    <main>
        <section id="forecasting">
            <h2>Bitcoin Price Forecast</h2>
            <canvas id="bitcoinChart" width="600" height="300"></canvas>
        </section>

        <section id="feature">
            <h2>Feature Importance</h2>
            <canvas id="featureChart" width="500" height="400"></canvas>
        </section>

        <section id="sentiment">

        </section>
    </main>
    <footer>
        <p>&copy; 2025 Dashboard Inc. All rights reserved.</p>
    </footer>
</body>
</html>
