<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/navbar.css' %}">
</head>
<body>
    <nav class="navbar">
        <!-- 왼쪽 메뉴 -->
        <div class="navbar-left">
            <div class="navbar-logo">
                <a href="{% url 'dashboard:index' %}"><span style="color: #DAA520;">₿</span> TheKneeDropGuru</a>
            </div>
            <ul class="navbar-menu">
                <li><a href="{% url 'dashboard:index' %}">대시보드</a></li>
                <li><a href="{% url 'dashboard:simulation' %}">모의트레이딩</a></li>
            </ul>
        </div>
        
        <!-- 오른쪽 메뉴 -->
        <div class="navbar-right">
            {% if user.is_authenticated %}
                <span class="navbar-welcome">어서오세요! {{ user.last_name }}{{ user.first_name }}님</span>
                <form method="post" action="{% url 'dashboard:logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="navbar-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'dashboard:login' %}" class="navbar-button">Login</a>
                <a href="{% url 'dashboard:signup' %}" class="navbar-button">Sign Up</a>
            {% endif %}
        </div>
    </nav>
</body>
</html>
